/* White Devil @ Devilshalani css3 stylesheet */
@import url('../assets/style.css');
@import url('../assets/lobstar/style.css');
@import url('../assets/poppins/style.css');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	scroll-behavior: smooth;
	scrollbar-width: none;
}
body
{
	min-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	background: #091920;
}
.container
{
	width: 100%;
	min-height: 100vh;
	position: relative;
}
/*scrollTop*/
.container .scrollTop
{
	right: 50px;
	bottom: 100vh;
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 8;
	transition: all .5s;
	background: linear-gradient(135deg, #1740d5, #714ce2);
}
.container .scrollTop.shalani
{
	bottom: 100px;
}
.container .scrollTop i
{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transform: rotate(90deg);
	font-size: 25px;
	color: #fff;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}
/*all section*/
.container section
{
	overflow: hidden;
}
/*banner*/
.container .banner
{
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1740d5a0;
	background-image: url(../assets/images/bg.jpg);
	background-size: cover;
	background-position: center;
	background-blend-mode: overlay;
}
.container .banner:before
{
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .3);
}
.container .banner header
{
	top: 0;
	left: 0;
	padding: 12px;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	background: rgba(0, 0, 0, .2);
}
.container .banner header nav
{
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.container .banner header nav .logo
{
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-image: url(../assets/images/logo.jpg);
	background-size: cover;
	cursor: pointer;
	z-index: 11;
}
.container .banner header nav .toggle
{
	position: relative;
	width: 130px;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
	z-index: 11;
}
.container .banner header nav .toggle span
{
	width: 100%;
	height: calc(calc(100% / 3) - 20px);
	transition: all .5s;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background: #fff;
}
.container .banner header nav .toggle span:nth-child(2)
{
	margin-left: 30px;
	width: 70%;
}
.container .banner header nav .toggle.shalani span
{
	width: 70%;
	position: absolute;
}
.container .banner header nav .toggle.shalani span:nth-child(1) 
{
	transform: rotate(405deg);
}
.container .banner header nav .toggle.shalani span:nth-child(2) 
{
	transform: rotate(905deg);
	opacity: 0;
}
.container .banner header nav .toggle.shalani span:nth-child(3) 
{
	transform: rotate(-405deg);
}
.container .banner .intro 
{
	margin-top: -300px;
	position: relative;
	display: flex;
}
.container .banner .intro h1
{
	margin-left: 20px;
	position: relative;
	text-transform: capitalize;
	font-family: sans-serif;
	font-weight: 800;
	font-size: 60px;
	color: #fff;
}
.container .banner .intro h1:nth-of-type(2):before
{
	content: '';
	top: 0;
	right: -10px;
	position: absolute;
	width: 4px;
	height: 100%;
	z-index: 7;
	background: #ff5064;
	animation: shalaniCursor .3s ease-in-out infinite;
}
.container .banner p
{
	padding: 0 50px;
	width: 100%;
	position: absolute;
	text-align: center;
	text-transform: capitalize;
	font-family: sans-serif;
	font-weight: 800;
	font-size: 23px;
	color: #fff;
}
/*menuBx*/
.container .menuBx
{
	top: 100vh;
	left: 0;
	width: 100%;
	height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .5s ease-in-out;
	z-index: 9;
	opacity: 0;
	background: #111;
}
.container .menuBx.shalani 
{
	top: 0;
	opacity: 1;
}
.container .menuBx ul
{
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.container .menuBx ul li
{
	margin: 25px 0;
	list-style: none;
}
.container .menuBx ul li:hover
{
	background: rgba(255, 255, 255, .1);
}
.container .menuBx ul li:before
{
	content: attr(data-shalani-menu);
	top: 50%;
	left: 50%;
	position: absolute;
	letter-spacing: 200px;
	transition: all .5s;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 900;
	font-size: 120px;
	color: rgba(255, 255, 255, .3);
	opacity: 0;
}
.container .menuBx ul li:hover:before
{
	letter-spacing: 3px;
	opacity: 1;
}
.container .menuBx ul li .link
{
	padding: 12px 20px;
	position: relative;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .5s;
	font-family: sans-serif;
	font-weight: 900;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
}
.container .menuBx ul .menu:hover .link
{
	color: #ff3377;
}
/*about*/
.container .about
{
	position: relative;
	width: 100%;
	height: 40vh;
	display: flex;
	background: #0d192e;
}
.container .about .card
{
	padding: 10px;
	width: 50%;
	height: 40vh;
	position: relative;
}
.container .about .card.cardLeft
{
	background: #0d192e;
}
.container .about .card h1
{
	margin: 25px;
	margin-top: 70px;
	margin-bottom: 100px;
	letter-spacing: 1.2px;
	text-transform: capitalize;
	font-weight: 800;
	font-size: 37px;
	color: #fff;
}
.container .about .card p
{
	margin: 25px;
	margin-right: 10px;
	text-align: justify;
	text-transform: capitalize;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
}
.container .about .card.cardRight
{
	background: url(../assets/images/red.jpg);
	background-size: cover;
}
.container .about .card.cardRight .window
{
	top: 0;
	left: 0;
	position: absolute;
	width: 50vw;
	height: 40vh;
	object-fit: cover;
}
/*servicess*/
.container .servicess
{
	position: relative;
	width: 100%;
	height: 50vh;
	background: linear-gradient(0deg, #1740d5 55%, #091920 30%)
}
.container .servicess .tittle
{
	top: 50px;
	position: absolute;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 800;
	font-size: 50px;
	color: #fff;
}
.container .servicess .cardContainer
{
	padding: 20px;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transform: translateY(50%);
}
.container .servicess .cardContainer .card
{
	position: relative;
	width: 250px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all .5s;
	background: #fff;
	cursor: pointer;
}
.container .servicess .cardContainer .card:hover
{
	transform: translateY(-20px)
}
.container .servicess .cardContainer .card .icon
{
	width: 150px;
	height: 150px;
	object-fit: cover;
}
.container .servicess .cardContainer .card h3
{
	margin-top: 50px;
	text-transform: capitalize;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #000;
}
.container .servicess .techContainer
{
	margin-top: 200px;
	width: 100%;
	position: relative;
	display: flex;
}
.container .servicess .techContainer p
{
	padding: 12px;
	position: relative;
	width: calc(100% - 180px);
	text-align: justify;
	text-transform: capitalize;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 22px;
	color: #fffa;
}
.container .servicess .techContainer .tech
{
	margin-right: 50px;
	padding: 10px;
	width: 180px;
	height: 180px;
	transition: all .5s;
	cursor: pointer;
}
.container .servicess .techContainer .tech:hover
{
	filter: invert(100%);
}
/*clients*/
.container .clients
{
	width: 100%;
	height: 100vh;
	position: relative;
	background: linear-gradient(0deg, #1740d5 45%, #091920 30%)
}
.container .clients .title
{
	margin: 40px 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 800;
	font-size: 50px;
	color: #fff;
}
.container .clients p
{
	margin: 40px 20px;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 22px;
	color: #fffa;
}
.container .clients .cards
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.container .clients .cards .card
{
	padding: 50px;
	width: 450px;
	opacity: .3;
	transition: all .5s;
	cursor: pointer;
}
.container .clients .cards .card:hover
{
	transform: translateY(-20px)
}
.container .clients .title.title2
{
	margin-top: 200px;
}
.container .clients .carContainer
{
	padding: 20px;
	width: 100%;
	display: flex;
	position: relative;
}
.container .clients .carContainer .card
{
	margin: auto;
	width: 48%;
	height: 300px;
	transition: all .5s;
	background: #fff;
}
.container .clients .carContainer .card:hover
{
	transform: translateY(-20px)
}
.container .clients .carContainer .card h2
{
	margin-top: 20px;
	text-align: center;
	text-transform: capitalize;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 27px;
	color: #000;
}
.container .clients .carContainer .card p
{
	margin-top: 40px;
	text-align: center;
	text-transform: capitalize;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #000;
}
.container .clients .carContainer .card a
{
	margin-top: 20px;
	padding: 0 20px;
	width: 100%;
	display: inline-block;
	text-decoration: none;
	text-align: right;
	text-transform: lowercase;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #19d7f7;
}
/*contect*/
.container .contect
{
	width: 100%;
	height: 50vh;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #f6385c;
}
.container .contect .form
{
	width: 50vw;
	height: 100%;
	position: relative;
}
.container .contect .form form
{
	top: 0;
	left: 0;
	padding: 10px 15px;
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, .1);
}
.container .contect .form form .title
{
	top: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 900;
	font-size: 40px;
	color: #fff;
}
.container .contect .form form .inputBx
{
	margin: 15px 0;
	position: relative;
	width: 100%;
	height: 100px;
	border-bottom: 4px solid #091921;
	background: transparent;
}
.container .contect .form form .inputBx:before
{
	content: '';
	bottom: -4px;
	left: 0;
	position: absolute;
	width: 0;
	height: 5px;
	z-index: 3;
	transition: all .5s;
	background: linear-gradient(90deg, #19d7f7, #fd00da);
	background-size: 200%;
}
.container .contect .form form .inputBx.shalani:before
{
	width: 100%;
	animation: shalaniBorder 5s linear infinite;
}
.container .contect .form form .inputBx .input
{
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 50%;
	text-transform: capitalize;
	font-family: sans-serif;
	font-weight: 900;
	font-size: 23px;
	color: #fff;
	background: none;
	border: none;
	outline: none;
}
.container .contect .form form .inputBx span
{
	top: 40px;
	left: 10px;
	position: absolute;
	transition: all .5s;
	text-transform: capitalize;
	font-family: sans-serif;
	font-weight: 900;
	font-size: 23px;
	color: #fff;
}
.container .contect .form form .inputBx.shalani span
{
	top: 0;
	font-size: 20px;
	color: #19d7f8;
}
.container .contect .form form .submit
{
	margin: 20px 0;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 800;
	font-size: 28px;
	color: #fff;
	outline: none;
	border: none;
	background: #ff5077;
}
.container .contect .imgBx
{
	width: 50vw;
	height: 100%;
	position: relative;
}
.container .contect .imgBx img
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
}
/*footer*/
.container .footer
{
	width: 100%;
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container .footer h2
{
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	text-transform: capitalize;
	font-family: sans-serif;
	font-weight: 900;
	font-size: 24px;
	color: #fffa;
}
.container .footer .social
{
	margin-top: 50px;
	position: relative;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.container .footer .social .link
{
	padding: 20px;
	transition: all .5s;
	text-decoration: none;
	font-size: 24px;
	outline: none;
	color: #fff;
}
.container .footer .social .link:hover
{
	transform: scale(1.1);
	color: #f37;
}
/*
developered by : white devil @ devilshalani
github https://github.com/Devilshalani/
youtube drvil devilshalani 
*/