@font-face {
  font-family: 'Poppins-Light';
  font-style: normal;
  font-weight: 900;
  src: url(./Poppins-Light.ttf);
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url(./Poppins-Bold.ttf);
}
@font-face {
  font-family: 'Poppins-Thin';
  font-style: normal;
  font-weight: 900;
  src: url(./Poppins-Thin.ttf);
}
@font-face {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: 900;
  src: url(./Poppins-Regular.ttf);
}